DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FINNHUB_API_KEY=""
INNGEST_DEV=1
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="name@gmail.com"
SMTP_PASS=""
SMTP_FROM="Candlestick Alerts <name@gmail.com>"
